<div id="invoice-total" class="invoice-status-<%= @invoice.status %>">
	<h3><%= number_to_currency(@invoice.total)%></h3>
	<% if @invoice.currency != "CLP" %>
		<div class="original-currency-total">
			<%= "#{@invoice.currency.upcase} #{ round_number_and_delimiter @invoice.original_currency_total}"%>
		</div>
	<% end %>
</div>

<% if @invoice.taxed? || @invoice.currency != "CLP" %>
	<ul class="invoice-total-detail unstyled">
		<% if @invoice.taxed? %>
			<li>
				<ul class="unstyled inline">
					<li style="text-align: left; width: 50px;">Neto</li>
					<li style="text-align: right; width: 100px;">
						<%= "$ " + round_number_and_delimiter(@invoice.net_total) %>
					</li>
				</ul>
			</li>
			<li>
				<ul class="unstyled inline">
					<li style="text-align: left; width: 50px;">IVA</li>
					<li style="text-align: right; width: 100px;">
						<%= "$ " + round_number_and_delimiter(@invoice.tax_total) %>
					</li>
				</ul>
			</li>
		<% end %>
		<% if @invoice.currency != "CLP" %>
			<ul class="unstyled inline currency-rate">
				<li style="width: 50px; text-align: left">Cambio</li>
				<li style="text-align: right; width: 100px;">
					<%= "$ " + round_number_and_delimiter(@invoice.currency_convertion_rate) %>
				</li>
			</ul>
		<% end %>
	</ul>
<% end %>


<% if @invoice.has_debt? %>
	<div id="invoice-payments" class="invoice-actions">
		<ul class="unstyled inline">
		<li>
			<h5>Pagado</h5>
			<span class="closed"><%= number_to_currency(@invoice.total_payed) %></span>
		</li>
		<li>
			<h5>Deuda</h5>
			<span class="due"><%= number_to_currency(@invoice.debt)%></span>
		</li>
		</ul>
	</div>
<% end %>