<div class="comment comment-form">
	<ul class="inline unstyled">
		<li class="avatar">
			<%= display_user_avatar(@current_user) %>
		</li>
		<li>
			<%= form_for comment, remote: true do |f| -%>
				<div class="comment-body">
					<div class="comment-body-header">
						<div class="comment-body-header-options">
							<% unless @current_account.nil? %>
								<label class="checkbox">
									<%= f.check_box :private %>
									Ocultar al cliente
								</label>
							<% end %>
						</div>
						<div class="comment-body-header-text">
							Agregar comentario
						</div>
					</div>
					<div class="comment-error-block">
						No fue posible agregar el comentario, por favor prueba nuevamente.
					</div>
					<div class="comment-body-content">
						<%= f.text_area :message, placeholder: "Escribe tu comentario" %>
						<%= f.hidden_field :author_id, value: @current_user.id %>
						<%= f.hidden_field :author_type, value: @current_user.class.to_s %>
						<%= f.hidden_field :commentable_id, value: object.id %>
						<%= f.hidden_field :commentable_type, value: object.class.to_s %>
					</div>
					<div class="comment-body-footer">
						<%= render :partial => 'comments/comment_suscribers', locals: {comment: comment} %>
						<div class="form-actions">
							<%= f.submit "Agregar comentario", class: "btn btn-success"%>
						</div>
					</div>
				</div>
			<% end -%>
		</li>
	</ul>
</div>