<% unless comment.id.nil? %>
<div id="comment-<%= comment.id %>" class="comment">
	<ul class="inline unstyled comment-ul">
		<li class="avatar">
			<%= display_user_avatar(comment.author) %>
		</li>
		<li>
			<div class="comment-body">
				<div class="comment-body-header">
					<div class="comment-body-header-options">
						<% unless @current_account.nil? %>
							<% if comment.private? %>
								<%= fa_icon "lock" %>
							<% end %>
							<% if comment.from_email? %>
								<%= fa_icon "envelope" %>
							<% end %>
						<% end %>
					</div>
					<div class="comment-body-header-text">
						<span class="author"><%= comment.author_name %></span> -
						<span class="date"> <%= time_ago_in_words comment.created_at%> atrás</span>
					</div>
					<div classs="comment-body-header-menu"></div>
				</div>
				<div class="comment-body-content">
					<%= textarea_display comment.message %>
				</div>
				<div class="comment-body-footer">
					<%= render partial: "comments/attachments", locals: {comment: comment}%>
				</div>
			</div>
			<div class="comment-bridge"></div>
		</li>
	</ul>
</div>
<% end %>