<div id="invoice-sidebar" class="span3 sidebar">
	<div class="invoice-totals">
		<h3>
			<span data-bind="text: invoice_total().formatMoney(0)"><%= number_to_currency(@invoice.total) %></span>
		</h3>
		<h5 data-bind="if: show_tax">
			Neto <span data-bind="text: net_total().formatMoney(0)">
				<%= number_to_currency(@invoice.net_total) %>
			</span>
		</h5>
		<h5 data-bind="if: show_tax">
			IVA <span data-bind="text: tax_total().formatMoney(0)">
				<%= number_to_currency(@invoice.tax_total) %>
			</span>
		</h5>
	</div>

	<%= render :partial => "invoices/sidebar/invoice_contact", locals: {f: f} %>
	
	<div class="invoice-reminders">
		
		<%= render partial: "invoices/sidebar/invoice_reminder", locals: {f: f} %>
		
		<div class="invoice-email-recurrent" style="margin-top: 20px">
			<label class='checkbox'>
			<input type='checkbox' name='invoice_email_reminder'>
			<a href="">Factura recurrente</a>
			</label>
			<div class="invoice-option-explain">
				<small>
					El primer Lunes de cada mes.<br/>
					Finaliza el 23/11/2014.
				</small>
			</div>
		</div>
		
	</div>
	
	
	<div class="invoice-attachments">
		<h5>Documentos</h5>
		<div id="invoice-attachment-drop-zone">
			<strong>+</strong> Arrastra tus archivos
		</div>
	</div>
	<!-- 
	<div class="invoice-catergories">
		<h5>Caterogrías</h5>
		<textarea></textarea>
	</div> -->
	
	<div class="invoice-submit">
		
		<button class="btn btn-large btn-success">Guardar venta</button>
		<p class="cancel-link"><%= link_to "Cancelar", invoices_path() %></p>
		
	</div>
	
</div>