<div id="invoice-sidebar" class="span3">
	<div id="invoice-total" class="invoice-status-draft">
		<h3>$434.434.332</h3>
	</div>
	
	<div class="invoice-actions">		
		<ul class="unstyled">
			<li><%= fa_icon "check-square-o"%><a href="" class="invoices-open"> Activar venta</a></li>
			<li><%= fa_icon "edit"%><%= link_to " Editar venta", edit_invoice_path(@invoice) %></li>
			<li><%= fa_icon "camera"%><a href=""> Duplicar venta</a></li>
			<li><%= fa_icon "trash-o"%><a href="" class="invoices-due"> Borrar venta</a></li>
		</ul>
	</div>
	
	<div class="invoice-actions">
		<ul class="unstyled">
			<li>
				<%= fa_icon "calendar"%><a href="">Recordatorio</a>
				<div class="invoice-option-explain">
					<small>Martes 24 a Nadia Valencia (IT Linux) y Marcelo Carrillo (TVN)</small>
				</div>
			</li>
			<li>
				<%= fa_icon "repeat"%><a href="">Factura recurrente</a>
				<div class="invoice-option-explain">
					<small>
						El primer Lunes de cada mes.<br/>
						Finaliza el 23/11/2014.
					</small>
				</div>
			</li>
		</ul>
	</div>
	
	
	<div class="invoice-attachments">
		<h5>Documentos</h5>
		<div id="invoice-attachment-drop-zone">
			<strong>+</strong> Arrastra tus archivos
		</div>
	</div>
	
	
</div>