<!-- Modals -->
<%= render partial: "invoices/show_partials/activate_modal" if @invoice.draft? %>
<%= render partial: "invoices/show_partials/delete_modal" if @invoice.draft? %>
<%= render partial: "invoices/show_partials/cancel_modal" if @invoice.may_cancel? %>
<%= render partial: "invoices/show_partials/pay_modal" if @invoice.active? %>

<div id="invoice-sidebar" class="span3">
	<%= render partial: "invoices/show_partials/sidebar_total" %>
	
	<div class="invoice-actions">		
		<ul class="unstyled">
			
			<!-- <li>
				<%= fa_icon "calendar"%>
				<%= link_to " Agregar recordatorio", clone_invoice_path(@invoice) %>
			</li> -->
			<% if @invoice.draft? %>
				<li><%= fa_icon "check-square-o"%>
					<%= link_to "Activar venta", "#", data: {toggle: "modal", target: "#activate-invoice-#{@invoice.id}-modal"}, class: "invoices-pay"  %>
				</li>
			<% end %>
			
			<% if @invoice.active? %>
				<li><%= fa_icon "dollar"%>
					<%= link_to "Recibir pago", "#", data: {toggle: "modal", target: "#pay-invoice-#{@invoice.id}-modal"}, class: "invoices-pay"  %>
				</li>
			<% end %>
			
			<% if @invoice.may_edit? %>
				<li><%= fa_icon "edit"%><%= link_to " Editar venta", edit_invoice_path(@invoice) %></li>
			<% end %>
			<li>
				<%= fa_icon "camera"%>
				<%= link_to " Duplicar venta", clone_invoice_path(@invoice) %>
			</li>
			
			<% if @invoice.draft? %>
				<li><%= fa_icon "trash-o"%>
					<%= link_to "Borrar venta", "#", data: {toggle: "modal", target: "#delete-invoice-#{@invoice.id}-modal"}, class: "invoices-due"  %>
				</li>
			<% end %>
			
			<% if @invoice.may_cancel? %>
				<li><%= fa_icon "trash-o"%>
					<%= link_to "Anular venta", "#", data: {toggle: "modal", target: "#cancel-invoice-#{@invoice.id}-modal"}, class: "invoices-due"  %>
				</li>
			<% end %>
			
		</ul>
	</div>
	
	<div class="invoice-actions">
		<ul class="unstyled">
			<% unless @invoice.closed? %>
				<li>
					<%= fa_icon "calendar"%>Recordatorios
					<div class="invoice-option-explain">
						<small>
							<%= I18n.l @invoice.notification_date, format: :short %> a <%= @current_user.name %> y <%= @invoice.contact_name %>
						</small>
					</div>
				</li>
			<% end %>
			<!-- <li>
				<%= fa_icon "repeat"%><a href="">Factura recurrente</a>
				<div class="invoice-option-explain">
					<small>
						El primer Lunes de cada mes.<br/>
						Finaliza el 23/11/2014.
					</small>
				</div>
			</li> -->
		</ul>
	</div>
	
	<!-- <div class="invoice-attachments">
		<h5>Documentos</h5>
		<div id="invoice-attachment-drop-zone">
			<strong>+</strong> Arrastra tus archivos
		</div>
	</div> -->
	
</div>
