<div id="invoice-sidebar" class="span3">
	<div id="invoice-total" class="invoice-status-<%= @invoice.status %>">
		<h3><%= number_to_currency(@invoice.total)%></h3>
		<% if @invoice.currency != "CLP" %>
			<div class="original-currency-total">
				<%= "#{@invoice.currency.upcase} #{ round_number_and_delimiter @invoice.original_currency_total}"%>
			</div>
		<% end %>
	</div>
	
	<% if @invoice.taxed? || @invoice.currency != "CLP" %>
		<ul class="invoice-total-detail unstyled">
			<% if @invoice.taxed? %>
				<li>
					<ul class="unstyled inline">
						<li style="text-align: left; width: 50px;">Neto</li>
						<li style="text-align: right; width: 100px;">
							<%= "$ " + round_number_and_delimiter(@invoice.net_total) %>
						</li>
					</ul>
				</li>
				<li>
					<ul class="unstyled inline">
						<li style="text-align: left; width: 50px;">IVA</li>
						<li style="text-align: right; width: 100px;">
							<%= "$ " + round_number_and_delimiter(@invoice.tax_total) %>
						</li>
					</ul>
				</li>
			<% end %>
			<% if @invoice.currency != "CLP" %>
				<ul class="unstyled inline currency-rate">
					<li style="width: 50px; text-align: left">Cambio</li>
					<li style="text-align: right; width: 100px;">
						<%= "$ " + round_number_and_delimiter(@invoice.currency_convertion_rate) %>
					</li>
				</ul>
			<% end %>
		</ul>
	<% end %>
	
	<div class="invoice-actions">		
		<ul class="unstyled">
			<li><%= fa_icon "check-square-o"%>
				<a data-toggle="modal" data-target="#invoice-change-status-modal" href="/invoices/<%= @invoice.id %>/activate_from_modal" class="invoices-active">
					<%= change_invoice_state_menu(@invoice) %>
				</a>
			</li>
			<li><%= fa_icon "edit"%><%= link_to " Editar venta", edit_invoice_path(@invoice) %></li>
			<li><%= fa_icon "camera"%><a href=""> Duplicar venta</a></li>
			<li><%= fa_icon "trash-o"%><a href="" class="invoices-due"> Borrar venta</a></li>
		</ul>
	</div>
	
	<div class="invoice-actions">
		<ul class="unstyled">
			<li>
				<%= fa_icon "calendar"%><a href="">Recordatorio</a>
				<div class="invoice-option-explain">
					<small>Martes 24 a Nadia Valencia (IT Linux) y Marcelo Carrillo (TVN)</small>
				</div>
			</li>
			<li>
				<%= fa_icon "repeat"%><a href="">Factura recurrente</a>
				<div class="invoice-option-explain">
					<small>
						El primer Lunes de cada mes.<br/>
						Finaliza el 23/11/2014.
					</small>
				</div>
			</li>
		</ul>
	</div>
	
	
	<div class="invoice-attachments">
		<h5>Documentos</h5>
		<div id="invoice-attachment-drop-zone">
			<strong>+</strong> Arrastra tus archivos
		</div>
	</div>
	
	
</div>
