<% content_for :sub_navbar do %>

	<div class="action-links pull-right" style="margin-top: -5px">
		<%= search_add_record_link(new_invoice_path, "Ingresar venta") %>
	</div>
	
	<div class="invoices-sorter-menu">
		Todas las ventas ordenadas 
		<div class="dropdown-sorter column">
			<a href="#" class="dropdown-toggle selected" data-sorted_by="active_date" data-toggle="dropdown">por fecha de emisión</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li role="presentation">
					<a role="menuitem" data-sorted_by="total" href="#">por monto total</a>
				</li>
				<li role="presentation">
					<a role="menuitem" data-sorted_by="number" href="#">por número</a>
				</li>
			</ul>
		</div>
		 de
 		<div class="dropdown-sorter direction">
 			<a href="#" class="dropdown-toggle selected" data-sorted_direction="DESC" data-toggle="dropdown">de mayor a menor</a>
 			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
 				<li role="presentation">
					<a role="menuitem" data-sorted_direction="ASC" href="#">de menor a mayor</a>
				</li>
 			</ul>
 		</div> 
	</div>
	
<% end %>


<div class="row document">
	<%= render partial: 'shared/flash' %>
	<div id="invoices" class="span8">
		<%= render partial: "invoices_table", locals: {invoices: @invoices} %>
	</div>
	
	<div id="side-menu" class="span3">
		<h5 class="section-title">Resumen de Totales</h5>
		
		<%= form_tag invoices_path(), id: "status_search", method: :get, remote: true do |f|%>
			<table id="invoices-totals-resume-table">
				<%= totals_resume_invoices_row("due", current_account.total_due) %>
				<%= totals_resume_invoices_row("active", current_account.total_active) %>
				<%= totals_resume_invoices_row("draft", current_account.total_draft) %>
				<%= totals_resume_invoices_row("closed", current_account.total_closed) %>
			</table>
		<% end %>
		
	</div>
</div>
