<div class="row document">
	<form>
		<div id="invoice" class="row span9">
			<form class="">
			<header>
				<span class="invoice-label invoice-draft">
					Borrador
				</span>
				<h4>Nueva Venta #3334</h4>
			</header>
			<%= render :partial => 'shared/flash' %>
			
			<%= render :partial => 'invoices/shared/invoice_details'%>
			
			<%= render :partial => "invoices/shared/invoice_items" %>
			
			<%= render :partial => "invoices/shared/invoice_total"%>
			
		</div>
		
		
		<%= render :partial => "invoice_sidebar" %>
		
	</form>
	
</div>