<div class="row document">
	<%= form_for @invoice do |f| -%>
	 
		<div id="invoice" class="row span9">
			<form class="">
			
			<%= render :partial => 'invoices/shared/invoice_header' %>
			
			<%= render :partial => 'shared/flash' %>
			
			<%= render :partial => 'invoices/shared/invoice_details', locals: {f: f}%>
			
			<%= render :partial => "invoices/shared/invoice_items" %>
			
			<%= render :partial => "invoices/shared/invoice_total"%>
			
		</div>
		
		
		<%= render :partial => "invoice_form_sidebar" %>
		
	<% end -%>
	
</div>