<div class="row document">
	<%= form_for @invoice do |f| -%>
		<div id="invoice" class="row span9">

			
			<%= render :partial => 'invoices/shared/invoice_header' %>
			
			<% content_for :form_errors do %>
					<% if @invoice.errors.size > 0 %>
					    <ul>
					       <% @invoice.errors.full_messages.each do |msg| %>
					       		<li><%= msg %></li>
					       <% end %>
					    </ul>
					<% end %>
			<% end %>
			
			<%= render :partial => 'shared/flash' %>
				
			
			<%= render :partial => 'invoices/shared/invoice_details', locals: {f: f}%>
			
			<%= render :partial => "invoices/shared/invoice_items", locals: {f: f} %>
			
			<%= render :partial => "invoices/shared/invoice_total"%>
			
		</div>
		
		
		<%= render :partial => "invoice_form_sidebar" %>
		
	<% end -%>
	
</div>