<div class="row document">
	<form>
		<div id="invoice" class="row span9">
			
			<%= render :partial => 'invoices/shared/invoice_header'%>
			
			<%= render :partial => 'shared/flash' %>
			
			<%= render :partial => 'invoices/shared/invoice_details'%>
			
			<%= render :partial => "invoices/shared/invoice_items" %>
			
			<%= render :partial => "invoices/shared/invoice_total"%>
			
		</div>
		
		
		<%= render :partial => "invoice_sidebar" %>
		
	
</div>