<div class="row document">
		<div id="invoice" class="row span9">
			
			<%= render :partial => 'invoices/shared/invoice_header'%>
			
			<%= render :partial => 'shared/flash' %>
			
			<%= render :partial => 'invoices/shared/show_invoice_details'%>
			
			<%= render :partial => "invoices/shared/show_invoice_items" %>
			
			<%= render :partial => "invoices/shared/invoice_total"%>
			
		</div>
		
		
		<%= render :partial => "invoice_sidebar" %>
		
		<%= render_modal_form(
			id: "invoice-change-status",
			title: "Activar Factura",
			method: "edit",
			object: "invoice",
			object_id: @invoice.id,
			body: ()) %>
		
	
</div>