<p style="color:grey; margin-top: -10px; margin-bottom: 30px;">-- RESPONDA SOBRE ESTA LINEA --</p>
<div>
	<table>
		<tr>
		<td style="width: 50px !important;">
			<%= content_tag(:img, nil,:src => @comment.author.avatar.url(:thumb), style: "padding: 0px;
	width: 48px !important;
	height: 48px !important;
	max-width: none;
	border: 1px solid #bbb;
	border-radius: 4px;") %>
		</td>
		<td style="padding-left: 25px; color: #b94a48; vertical-align: middle;"><%= @comment.author_name.titleize %> escribió este comentario en Folio</td>
	</tr>
	</table>
	<div style="margin-left: 75px; margin-top: -10px; margin-right: 25px;">
		<h3><%= @comment.commentable.subject.titleize %></h3>
		<p style="margin-top: 5px;">
			<%= textarea_display @comment.message %>
		</p>
		<p style="margin-top: 30px;">
			<%= link_to "Verlo en Folio", invoice_url(@comment.commentable_id, subdomain: @account.subdomain) + "#comment-#{@comment.id}" %>
		</p>	
	</div>
	
	<div style="margin-top: 40px; color: #777; font-size: 12px;">
		Este correo fue enviado a: <%= @comment.subscribers_emails.join(", ") %>.
	</div>
	
</div>