<div class="row document">
	<section>
		<header class="section-header user-header">
			<% if current_user.owner? || current_user == @user%>
				<%= link_to "Editar información", edit_user_path(@user), :class => "btn btn-small pull-right" %>
			<% end %>
				<div class="avatar">
					<%= display_user_avatar(@user) %>
				</div>
			<h3>
				<%= @user.full_name %>
			</h3>
			<p class="user-email">
				<%= mail_to @user.email %>
				<%  unless @user.active?%><span class="label">Bloqueado</span> <% end %>
			</p>
		</header>
		
		<%= render :partial => 'activate_user' unless @user.active? %>
		
		<%= render :partial => 'recent_activity' %>

	</section>

<% if current_user.owner? %>	
	<%= render :partial => 'deactivate_user' if (@user.active? && !current_user.owner?) %>
<% end %>	
</div>

