<div class="row document">
	<section>
		<header class="section-header user-header">
			<% if current_user.owner? || current_user == @user%>
				<%= link_to "Editar información", edit_user_path(@user), :class => "btn btn-small pull-right" %>
			<% end %>
				<div class="avatar">
					<img src="data:image/png;base64,<%= @user.avatar %>"/>
				</div>
			<h3>
				<%= @user.full_name %>
			</h3>
			<p class="user-email"><%= mail_to @user.email %></p>
		</header>
		
		<%= render :partial => 'recent_activity' %>

	</section>
	
	<section>
		<header class="section-header">
			<h4>Desactivar usuario</h4>
		</header>
		<p>
		 Al desactivar un usuario éste ya no puede ingresar más a Folio, pero todas sus acciones se mantienen para que conserves la historia de tu negocio.
		</p>
		<p>
			<% if current_user.owner? %>
				<%= link_to "Desactivar cuenta de #{@user.full_name}", user_path(@user), method: :delete, :class => "cancel-link" %>
			<% end %>
		</p>
		
	</section>
	
</div>

