<div id="login-box">

<h2>Recuperar contraseña</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post,:class => "login-form form-vertical"}) do |f| %>
  <%= f.error_notification :message => "El email no existe", :class => "alert alert-error" %>

  <div class="inputs">
	<div class="control-group">
    	<%= f.input :email, :required => true, :label => false, :placeholder => "Email", :input_html => {:class => "login-field"},  error: false %>
		<label class="login-field-icon fui-mail" for="user_email"></label>
	</div>
  </div>

  <div class="actions">
    <%= f.button :submit, "Enviar instrucciones a mi correo", :class => "btn btn-primary btn-large btn-block" %>
  </div>
<% end %>

<%= link_to "Volver", new_session_path(resource_name) %><br />

</div>