<div id="invoice-total">
	<div class="invoice-total-number">
		<%= "UF #{number_to_currency(@invoice.total)}" %>
		<% if input_disabled? %>
			<ul class="invoice-total-detail">
				<li>
					<ul class="unstyled inline">
						<li style="text-align: left">IVA</li>
						<li style="width: 100px;">
							<%= number_to_currency(@invoice.tax_total) %>
						</li>
					</ul>
				</li>
				<li>
					<ul class="unstyled inline">
						<li style="text-align: left">Neto</li>
						<li style="width: 100px;">
							<%= number_to_currency(@invoice.net_total) %>
						</li>
					</ul>
				</li>
				<li>
					<ul class="unstyled inline">
						<li style="text-align: left"><%= @invoice.currency.upcase %></li>
						<li style="width: 100px;">
							<%= number_to_currency(@invoice.currency_total) %>
						</li>
					</ul>
				</li>
			</ul>
		<% end %>
	</div>
</div>