<div id="invoice-total">
	<div class="invoice-total-number">
		<ul class="unstyled inline">
			<li style="text-align: left"><span data-bind="text: invoice_currency_label"><%= @invoice.currency.upcase%></span></li>
			<li style="width: 150px;" data-bind="text: formated_original_total() "><%= number_with_precision(@invoice.original_currency_total, precision: @invoice.price_precision, delimiter: ".")%></li>
		</ul>
		<% if input_disabled? %>
			<% if @invoice.taxed? || @invoice.currency != "CLP" %>
				<ul class="invoice-total-detail unstyled">
					<% if @invoice.currency != "CLP" %>
						<li class="<%= 'currency-rate-border' if @invoice.taxed? %>">
							<div class="left">Cambio</div>
							<div class="right">
								<%= "$ " + number_with_delimiter(@invoice.currency_convertion_rate) %>
							</div>
						</li>
					<% end %>
					<% if @invoice.taxed? %>
						<li>
							<ul class="unstyled">
								<li class="left">Neto</li>
								<li class="right">
									<%= "$ " + round_number_and_delimiter(@invoice.net_total) %>
								</li>
								<li class="left">IVA</li>
								<li class="right">
									<%= "$ " + round_number_and_delimiter(@invoice.tax_total) %>
								</li>
							</ul>
						</li>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	</div>
</div>