<div class="invoice-details">
	<table>
		<tr class="large">
			<td class="input-label"><label>Para</label></td>
			<td><%= autocomplete_field_tag "company_name", @invoice.company_name, autocomplete_company_name_invoices_path, :id_element => '#invoice_company_id', placeholder: "Nombre del receptor" %></td>
			<!-- <%= display_input_or_value_for(f, :company_id) %> -->
			<%= f.hidden_field :company_id %>
		</tr>
		<tr class="large">
			<td class="input-label"><label>Asunto</label></td>
			<%= display_input_or_value_for(f, :subject) %>
		</tr>
	</table>
	<table>
		<tr class="small">
			<td class="input-label"><label>Número</label></td>
			<td><%= f.text_field :number, value: suggested_number(@invoice) %></td>
			<td class="input-label"><label>Fecha</label></td>
			<td><%= f.text_field :open_date, value: suggested_open_date(@invoice), data: {"date-format" => "dd/mm/yyyy"} %></td>
			<td class="input-label"><label>Vence en</label></td>
			<td>
				<%= display_select_or_value_for(f, :due_days,[["30 días", 30], ["45 días", 45], ["60 días", 60], ["90 días", 90]]) %>
			</td>
		</tr>
	</table>
	<% unless params[:action] == "show" %>
		<table>
			<tr class="small">
				<td  style="width: 80px; padding-top: 10px;"><label>Moneda</label></td>
				<td style="padding-top: 10px; width: 150px;">
					<%= f.select :currency, options_for_select(Invoice.currencies, @invoice.currency), {}, {data: {bind: "value: invoice_currency"}}%>
				</td>
				<td style="padding-top: 10px; width: 45px">
					<label>IVA</label>
				</td>
				<td style="padding-top: 10px;">
					<%= f.select :taxed, options_for_select([["No", false], ["Si", true]], @invoice.taxed), {},  {data: {bind: "value: invoice_taxed"}} %>
				</td>
			
			</tr>
		</table>
	<% end %>
</div>