<div id="invoice-items-header">
	<% unless input_disabled? %>
		<span class="pull-right">
			<%= link_to_add_invoice_item_fields "+ Agregar" ,f, :invoice_items, "invoices/shared" %>
			<%= hidden_field_tag "invoice_items_index", @invoice.invoice_items.size %>
		</span>
	<% end %>
	<h4>Items</h4>
</div>

<div id="invoice-items">
	<table id="new_invoice_items" class="table">
		<thead>
			<tr>
				<th>Tipo</th>
				<th style="padding-left: 10px; text-align: left;">Descripción</th>
				<th>Ctd.</th>
				<th>Precio</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr></tr>
			<% if input_disabled? %>
				<%= render partial: "invoices/shared/show_invoice_item_fields", collection: @invoice.invoice_items, as: :invoice_item %>
			<% else %>
				<%= f.fields_for :invoice_items do |builder| %>
					<%= render :partial => "invoices/shared/invoice_item_fields", locals: {f: builder}%>
			   <% end %>
			<% end %>
		</tbody>
	</table>
</div>