<tr class="invoice-item-fields">
	<td>
			<span class="label"><%= invoice_item.type %></span>
	</td>
	<td style="width: 350px;">
		<%= textarea_display invoice_item.description %>
	</td>
	<td style="text-align: center">
		<%= invoice_item.quantity %>
	</td>
	<td style="text-align: center; width: 100px;">
		<%= number_to_currency invoice_item.price, precision: invoice_item.price_precision %>
	</td>
	<td style="text-align: center; width: 100px;">
		<%= number_to_currency invoice_item.total, precision: invoice_item.price_precision %>
	</td>
</tr>