<div id="show-attachment-body" style="<%= "display: none;" unless attachments.any?%>">
	<a class="btn-addfiles">Agregar archivos</a>
</div>
<div class="attachment-form" style="<%= "display: none;" if attachments.any?%>">
	<%= form_for Attachment.new, :html => { :multipart => true  } do |f| %>
	<div class="attachment-body">
		<div class="attachment-body-header">
			<div class="attachment-body-header-text">
				Adjuntar archivos
			</div>
			<div classs="attachment-body-header-menu"></div>
		</div>
		<div class="attachment-body-content">
			<div>
				<%= fa_icon "paperclip"%> Para adjuntar arrasta y suelta aquí los archivos o
				<span class="file-input-container">
					<a href="#">seleccionalos de tu computador</a> 
					<%= f.file_field :resource, :multiple => true, :name => "attachment[resource]"%>
				</span>
			</div>
			<div class="attachment-resources">
				
			</div>
		</div>
		<div class="attachment-body-footer">
			<div class="attachment-email-alert">
				
			</div>
			<div class="form-actions">
				<%= f.hidden_field :attachable_id, value: object.id %>
				<%= f.hidden_field :attachable_type, value: object.class.to_s %>
				<%= f.hidden_field :author_id, value: @current_user.id %>
				<%= f.hidden_field :author_type, value: @current_user.class.to_s %>
				<%= f.button "Cancelar", class: "btn", name: "cancel", disabled: true %>
				<%= f.submit "Aceptar", class: "btn btn-success", disabled: true %>
			</div>
		</div>
	</div>
	  
	<% end %>
	<script>
	  var fileUploadErrors = {
	    maxFileSize: 'File is too big',
	    minFileSize: 'File is too small',
	    acceptFileTypes: 'Filetype not allowed',
	    maxNumberOfFiles: 'Max number of files exceeded',
	    uploadedBytes: 'Uploaded bytes exceed file size',
	    emptyResult: 'Empty file upload result'
	  };
	</script>

	<script type="text/javascript" charset="utf-8">
	    $(function () {
			// Generamos un uuid para poder identificar el adjunto y
			// así poder identificarlo por si el usuario lo quiere borrar
			// Este uuid se usa en el template
	        // Initialize the jQuery File Upload widget:
			var uuid = "";
			$('#new_attachment').fileupload({
			  dataType: "json",
			  dropZone: ".attachment-body-content",
			  autoUpload: false,
			  add: function(e, data) {
				uuid = $.uuid();
				data.files[0].uuid = uuid;
			    data.context = $(tmpl("template-upload", data.files[0]));
			    $('#new_attachment .attachment-resources').append(data.context);
			    return data.submit();
			  },
			  formData: function(){
				  array = $('#new_attachment').serializeArray();
				  array.push({name: "uuid", value: uuid});
				  return array;
			  },
			  done: function(e, data){
				  result = data.result;
				  Folio.update_attachment_id(result.uuid, result.id);
			  },
			  start: function(){
			  	$("#new_attachment input[type=submit]").val("Subiendo...");
			  },
			  progress: function(e, data) {
			    var progress;
			    if (data.context) {
			      progress = parseInt(data.loaded / data.total * 100, 10);
			      return data.context.find('.bar').css('width', progress + '%');
			    }
			  }
			});
	        
	    });
	</script>
</div>

<script id="template-upload" type="text/x-tmpl">
<div id="{%= o.uuid %}" class="attachment">
	 <div class="upload">
		 <%= link_to attachment_path(), remote: true, method: :delete, class: "delete" do %>
		  <%= fa_icon "times-circle" %>
		 <% end %>
		 {%=o.name%}
	 </div>
	<div class="progress"><div class="bar" style="width: 0%;"></div></div>
</div>
</script>