<li class="company">
	<div class="company-box">
			<h4>
				<%= link_to company.name, company_path(company) %>
				<br><small><%= company.rut %></small>
			</h4>
			<ul class="company-contact-info">
				<li><%= company.address %></li>
				<li><%= company.city %> </li>
				<li><%= company.phone %> </li>
			</ul>
			<div class="footer">
			</div>
	</div>
</li>