<%= simple_form_for @company, 
		:html => {:class => "form-horizontal"}, html: {multipart: true}, 
		defaults: { input_html: { class: 'input-xlarge' } } do |f| %>
	
		<%= f.input :rut, label: false, required: true, placeholder: "RUT", autofocus: true, :input_html => {:data => {:"validation-callback-callback"=>"Folio.check_rut_callback"}}  %>
		<%= f.input :name, label: false, required: true, placeholder: "Razón Social", autofocus: false  %>
		<%= f.input :industry, label: false, required: true, placeholder: "Giro", autofocus: false  %>
		<%= f.input :address, label: false, required: true, placeholder: "Dirección", autofocus: false  %>
		<%= f.input :province, label: false, required: true, placeholder: "Comuna", autofocus: false  %>
		<%= f.input :city, label: false, required: true, placeholder: "Ciudad", autofocus: false  %>
		
		  <div class="actions">
		    <%= f.button :submit, "Guardar", :class => "btn btn-success"  %>
			 o 
			 <% if @company.new_record? %>
				 <%= link_to "Cancelar", companies_path(), :class => "cancel-link" %>
			 <% else %>
				 <%= link_to "Cancelar", company_path(@company), :class => "cancel-link" %>
			 <% end %>
		  </div>
		
<% end %>