<%= render "show" %>

<%= render partial: "companies/shared/navbar" %>



<div class="row document">
	
	<div class="span8">
		<div style="border-bottom: 1px solid #ddd">
			<%= render partial: "invoices/shared/subnav_sorter", locals: {search_params: @search_params} %>
		</div>
		<div id="invoices">
			<%= render partial: "invoices/invoices_table", locals: {invoices: @invoices} %>
		</div>
		<% if @invoices.size < 1%>
			<div class="alert alert-block blank-slate" style="min-height: 0px; border: 1px dashed gray; padding-bottom: 40px">
				<div class="blank-slate-text">
					<p>
						Aun no tienes ventas para esta Empresa, pero cuando las tengas apareceran aquí.
					</p>
				</div>
			</div>
		<% end %>
	</div>
	<div id="side-menu" class="span3" style="margin-top: 14px">
		<%= form_tag invoices_path(), id: "status_search", method: :get, remote: true do |f|%>
			<%= render partial: "invoices/sidebar/invoice_total_resume", locals: {invoices: @invoices} %>
			<%= hidden_field_tag "search[query_items][company_id]", @company.id %>
		<% end %>
	</div>
</div>
