<!DOCTYPE html>
<html>
<head>
  <title>Folio</title>
  <%= stylesheet_link_tag    "bootstrap", media: "all" %>
  <%= stylesheet_link_tag    "flat-ui", media: "all" %>
  <%= stylesheet_link_tag    "devise", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "public", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body id="login">
	
<%= yield %>

</body>
</html>
