<div class="span5 account-info">
	<h4>
		<%= @account.name.titleize %>
		<br/>
		<small><%= current_account.rut %></small>
		<% unless current_account.industry.empty? %>
			<br><small><%= current_account.industry.titleize %></small>
		<% end %>
	</h4>
	
	<address>
		<%= current_account.address %><br>
		<%= current_account.e_invoice_regional_address %> --> CAMBIARLO!!!</br>
		<%= "#{current_account.city} #{current_account.country}" %><br>
		<%= current_account.phone %><br>
	</address>
</div>